events {
    worker_connections 1024;
}
http {
    server {
        listen ${LISTEN_PORT};
        server_name ${SERVER_NAME};
        location / {
            root /usr/share/nginx/html;
            index index.html;
        }
    }
}